In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('test.csv')#, index_col=0)

In [3]:
np.where(df.columns == 'name')

(array([8]),)

In [4]:
df1 = pd.read_csv('sampletweets.csv')

In [7]:
mm = df.name.value_counts()

In [25]:
df[df.name == 'jsatk']

,Unnamed: 0,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
11328,11437,-120250368,negative,1,Flight Booking Problems,1.0,Virgin America,NaN,jsatk,NaN,0,@VirginAmerica I’m having trouble adding this ...,[0.0 0.0],2015-02-23 10:29:19 -0800,Lower Pacific Heights SF CA,Pacific Time (US & Canada)

In [22]:
new_df = df[df.name == "otisday"]

In [23]:
new_df.to_csv("scooby.csv")

In [24]:
new_df.shape

(28, 16)